@model _036_MoviesMvcWissen.Models.Demos.Templates.PersonModel

@{
    ViewBag.Title = "AddPerson";
}

<h2>AddPerson (From our Editor Template)</h2>

@using (Html.BeginForm("AddPerson", "Demos", FormMethod.Post, new { autocomplete = "off" })) 
{
    <div class="form-horizontal">
        <h4>PersonModel</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GraduatedFromUniversity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.GraduatedFromUniversity)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdentityNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdentityNo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(e => e.BirthDate, "Date")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
