@model Movie

@{ 
    var movieDirectors = Model.MovieDirectors;
    var directorFullNames = "";
    foreach (var movieDirector in movieDirectors)
    {
        directorFullNames += movieDirector.Director.Name + " " + movieDirector.Director.Surname + ", ";
    }
    directorFullNames = directorFullNames.Trim(',', ' ');
}

@*<div class="row">
    <div class="col-md-2">
        <b>@Html.DisplayNameFor(e => e.Name): </b>
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(e => e.Name)
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <b>@Html.DisplayNameFor(e => e.BoxOfficeReturn): </b>
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(e => e.BoxOfficeReturn)
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <b>@Html.DisplayNameFor(e => e.ProductionYear): </b>
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(e => e.ProductionYear)
    </div>
</div>*@
@Html.DisplayForModel()

<div class="row">
    <div class="col-md-2">
        <b>@Html.Label("Directors", "Directors"): </b>
    </div>
    <div class="col-md-10">
        @directorFullNames
    </div>
</div>