@* 1 *@
@*@model List<_036_MoviesMvcWissen.Entities.Movie>*@
@* 2 *@
@model _036_MoviesMvcWissen.Models.ViewModels.MoviesIndexViewModel

@* 2 *@
@using _036_MoviesMvcWissen.Helpers

@{
    ViewBag.Title = "Movies";
}

@*@Html.Action("Welcome")*@
@{
    Html.RenderAction("Welcome");
}

<h2>@ViewBag.Title</h2>

@* 2 *@
@using (Html.BeginForm("Index", "Movies", FormMethod.Get))
{
    <table style="width: 100%;">
        <tr>
            <td style="width: 20%;">
                Production Year:
            </td>
            <td>
                @*@Html.DropDownList("YearId", Model.Years, new { @class = "form-control" })*@
                @Html.DropDownList("YearId", Model.Years, "-- All --", new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.Button("Search", "btn btn-primary", "submit")
            </td>
        </tr>
    </table>
}
<hr />

<a href="~/Movies/Add">Add Movie</a>
<br />

<label class="text-success">@TempData["Info"]</label>
<br />

@* 1 *@
@*<span>@Model.Count records found.</span>*@
@*<span>@ViewData["count"] records found.</span>*@
<span>@ViewBag.count records found.</span>

<table class="table">
    <tr>
        <td></td>
        <td>
            <b>Name</b>
        </td>
        <td>
            <b>Production Year</b>
        </td>
        <td>
            <b>Box Office Return</b>
        </td>
    </tr>
    @* 1 *@
    @*@foreach (var movie in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(" ", "Details", new { id = movie.Id }, new { @class = "fa fa-info text-warning" })
                &nbsp;
                @Html.ActionLink(" ", "Edit", new { id = movie.Id }, new { @class = "fa fa-pencil-square-o text-success" })
                &nbsp;
                @Html.ActionLink(" ", "Delete", new { id = movie.Id }, new { @class = "fa fa-trash text-danger" })
            </td>
            <td>
                @movie.Name
            </td>
            <td>
                @movie.ProductionYear
            </td>
            <td>
                @movie.BoxOfficeReturn
            </td>
        </tr>
    }*@
    @* 2 *@
    @foreach (var movie in Model.Movies)
    {
        <tr>
            <td>
                @Html.ActionLink(" ", "Details", new { id = movie.Id }, new { @class = "fa fa-info text-warning" })
                &nbsp;
                @Html.ActionLink(" ", "Edit", new { id = movie.Id }, new { @class = "fa fa-pencil-square-o text-success" })
                &nbsp;
                @Html.ActionLink(" ", "Delete", new { id = movie.Id }, new { @class = "fa fa-trash text-danger" })
            </td>
            <td>
                @movie.Name
            </td>
            <td>
                @movie.ProductionYear
            </td>
            <td>
                @movie.BoxOfficeReturn
            </td>
        </tr>
    }
</table>