@model _036_MoviesMvcWissen.Entities.Movie

<div>
    <h4>Movie Details (From our Display Template)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxOfficeReturn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxOfficeReturn)
        </dd>

        <dt>
            @Html.Label("lImage", "Image")
        </dt>

        <dd>
            @{ 
                if (Model.FilePath != null)
                {
                    <img src="/@Url.Content(Model.FilePath)" title="@Model.Name" alt="@Model.Name" class="img-fluid" style="width: 50% !important;" />
                }
            }
        </dd>

    </dl>
</div>

