
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movies MVC | @ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Plugins/bootstrap-datepicker-master/css/bootstrap-datepicker3.min.css" rel="stylesheet" />

    @RenderSection("myh2style", false)

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Plugins/bootstrap-datepicker-master/js/bootstrap-datepicker.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                @*<a class="navbar-brand" href="~/Home/Index">Movies MVC</a>*@
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Movies MVC</a>

                @if (User.Identity.IsAuthenticated)
                {
                    <span style="color:yellow;">Welcome @User.Identity.Name</span>
                    @:&nbsp;
                    <a style="color:yellow;" href="@Url.RouteUrl("Default", new { controller = "Login", action = "Logout" })">Logout</a>
                }
                else
                {
                    <a style="color:yellow;" href="@Url.RouteUrl("Default", new { controller = "Login", action = "Index" })">Login</a>
                }

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            @*<a class="nav-link" href="~/Movies/Index">Movies <span class="sr-only">(current)</span></a>*@
                            <a class="nav-link" href="@Url.RouteUrl("Default", new { controller = "Movies", action = "Index" })">Movies Index</a>
                        </li>

                        @* Hüseyin *@
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.RouteUrl("Default", new { controller = "Movies", action = "List" })">Movie List (Hüseyin)</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Directors")">Directors</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Reviews")">Reviews</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home", new { area = "Admin" })">Admin</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Demos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="~/Demos/Razor1">Razor</a>
                                <a class="dropdown-item" href="~/Demos/FromRoute/8">Get Value from Route</a>
                                <a class="dropdown-item" href="~/Demos/FromQueryString?name=Çağıl&surname=Alsaç">Get Value from QueryString</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="~/Demos/GetPeople">Get People</a>
                                <a class="dropdown-item" href="~/Demos/GetPeopleAjax">Get People AJAX</a>
                                <a class="dropdown-item" href="~/Demos/GetPeopleHtml" target="_blank">Get People AJAX with HTML and JSON</a>
                                <a class="dropdown-item" href="~/Demos/DivideByZero">HandleError - Divide by Zero</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="body">
            @RenderBody()
        </div>
        <div class="footer">

        </div>
    </div>

    @RenderSection("ajaxScript", false)

</body>
</html>
